<div class="header">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-6">
               <div class = "logo"> <a href=""><img src="/assets/greenlogo.png" alt="Todo Hero "class = "title" border="0"></a></div>

            </div> <!-- Title-->

            <div class = "col-md-3">
                <div class = "buttons">
               <a routerLink="login" class= "login btn btn-success" style="float: right">Login</a>
        
                <a routerLink="register" class= "register btn btn-success" style="float: right;">Register</a>
                </div>

            </div> <!-- Login and Reg-->
    </div>
</div>
</div>
