
  
.img:hover {
  border: none;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  animation: bounce 1s;
}
@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

  .container{
      position: fixed;
      bottom:-200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
 
